[INCLUDE]
#include "AxisEngine/AxisEngine.h"

#include "AxisEngine/Buffers/CollidersBuffer.h"
#include "AxisEngine/Buffers/RigidBodiesBuffer.h"

#include "AxisEngine/Components/AABB.h"
#include "AxisEngine/Components/Collider.h"
#include "AxisEngine/Components/CubeCollider.h"
#include "AxisEngine/Components/MeshCollider.h"
#include "AxisEngine/Components/SphereCollider.h"
#include "AxisEngine/Components/Rigidbody.h"

[VARIABLE]
AnomalyEngine::PhysicsEngine*		 axisSystem;
AnomalyEngine::RigidBodiesBuffer*    rigidBodiesBuffer;

[MODULE]
axisSystem				= new AxisEngine::AxisEngine();
rigidBodiesBuffer       = new AxisEngine::RigidBodiesBuffer();