out
.vs
.idea

cmake-build-debug

Sandbox/Debug
Sandbox/Release

.ninja_log
build.ninja
.ninja_deps
cmake_install.cmake
.cmake
.ninja_deps

CMakeFiles

ALPHA_Engine/Dependency/build/code
ALPHA_Engine/Dependency/build/generated
ALPHA_Engine/Dependency/build/include
